<div mat-dialog-title>
    <h1>Formulaire du produit</h1>
</div>

<form [formGroup]="productForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        
        <div class="row">
            <mat-form-field appearance="outline" class="wide-input">
                <mat-label>Nom du produit</mat-label>
                <input matInput type="text" placeholder="Ex. Smart Phone" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="wide-input">
                <mat-label>Description</mat-label>
                <input matInput type="text" placeholder="Ex. Smart Phone" formControlName="description">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" class="wide-input">
                <mat-label>Price</mat-label>
                <input matInput type="text" placeholder="Ex. Smart Phone" formControlName="price">
            </mat-form-field>

            <mat-form-field appearance="outline" class="wide-input">
                <mat-label>Quantity</mat-label>
                <input matInput type="text" placeholder="Ex. Smart Phone" formControlName="quantity">
            </mat-form-field>
        </div>
    </div>

    

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Annuler</button>
        <button mat-raised-button class="custom-button" color="primary" type="submit" >{{data ? 'Modifier': 'Ajouter'}}</button>
    </div>
</form>