.content {
    padding-top: 10px;
}

.custom-button {
    background-color: #3C91E6 !important;
    color: white;
}

.row {
    display: flex;
    gap: 10px;
}

.action{
    padding: 0px 25px 20px;
}

.action button{
    flex: 1;
}

.wide-input {
    width: 300px;
}
.component-with-size {
    width: 100%;
    box-sizing: border-box;
  }
  
