.dashboard {

   .ngx-datatable.material,
   .ngx-datatable.material .datatable-footer {
      border: none;
   }

   .ngx-datatable {
      .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {
         font-weight: 800;
         font-size: 0.82rem;
         line-height: 1.5;
         position: fixed;
         top: calc(10px);

      }

      .datatable-body .datatable-body-row .datatable-body-cell {
         font-weight: 600;
         font-size: 0.79rem;
         line-height: 1.4;
         border-bottom: 1px solid #ddd;
      }

      .datatable-footer-inner {
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;

         * {
            font-size: 0.79rem;
         }

         >.page-count {
            padding-right: 0 !important;
         }

         >.datatable-pager {
            margin: 0 !important;
            flex: 0 0 auto !important;

            >.pager {
               display: flex !important;
               flex-flow: row nowrap;

               li:not(:nth-child(-n +2), :nth-last-child(-n +2), [class~="active"]) {
                  display: none;
               }
            }
         }
      }
   }
}


.row {
   padding-bottom: 20px;

   .card {
      height: 100%;

      .box {
         width: 100%;
         height: 80%;
         display: flex;
         justify-content: center;
         align-items: center;

         .notFound {
            color: #F64E60;
            font-size: 1.2rem;
            font-weight: 700;
         }
      }
   }

}

.rest {
   width: 50px;
   opacity: .8;
   position: absolute;
   bottom: 10px;
   left: calc(50% + 50px);
}

@media screen and (min-width: 1000px) {
   .row {
      //justify-content: space-around;
      justify-content: flex-start;
   }

}

@media screen and (max-width: 560px) {
   .row {
      .card {
         .box {
            height: 50%;

            .notFound {
               font-size: 1rem;
            }
         }
      }
   }
   .rest {
      width: fit-content;
      bottom: 8px;
      left: 12px;
   }
}
