<ngx-datatable class="material" [headerHeight]="50" [limit]="tableLimit" [columnMode]="'force'"
               [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="false" [sorts]="[{prop: 'id', dir: 'desc'}]"
               [rows]="clientOrderList">

  <ngx-datatable-column [width]="70" [maxWidth]="170" name="Id" prop="id">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      {{row?.id}}
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column [width]="100" [maxWidth]="220" name="Price" prop="totalPrice">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      {{row?.totalPrice}} Dh
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="150" [maxWidth]="320" name="Client name" prop="clientEmail">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">

      <span>
        {{row?.clientFirstName}}  {{row?.clientLastName}}
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="130" [maxWidth]="280" name="Client contact" prop="clientEmail">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">

      <span>
        <i-feather name="at-sign" class="feather-sm"></i-feather>
        {{row?.clientEmail }}
      </span>
      <br>
      <span>
        <i-feather name="phone-call" class="feather-sm"></i-feather>
        {{row?.clientPhoneNumber }}
      </span>

    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="130" [maxWidth]="280" name="Date" prop="dateCreated">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      <span>
           <i class="far fa-calendar-plus"></i>
        {{row?.dateCreation | date : 'dd/MM/yyyy'}}
      </span>
      <span class="text-warning">
           <br><i class="far fa-edit"></i>
        {{row?.dateUpdate | date : 'dd/MM/yyyy'}}
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="170" [maxWidth]="300" name="Status" prop="saleStatus">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      <ng-container *ngIf="row?.clientOrderStatusId === 4;">
        <span class="badge badge-secondary px-1" style="font-size: 12px">In progress</span>
      </ng-container>
      <ng-container *ngIf="row?.clientOrderStatusId === 1;">
        <span class="badge badge-success px-1" style="font-size: 12px">Accepted</span>
      </ng-container>
      <ng-container *ngIf="row?.clientOrderStatusId === 2;">
        <span class="badge badge-primary px-1" style="font-size: 12px">Reported</span>
      </ng-container>
      <ng-container *ngIf="row?.clientOrderStatusId === 3;">
        <span class="badge badge-danger px-1" style="font-size: 12px">Cancelled</span>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Details" [sortable]="false" [width]="130" [maxWidth]="200">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div class="d-flex">
        <a class="link cursor-pointer mr-2" ngbTooltip="Details" (click)="getOrderDetails(row?.id)">
          <i-feather name="eye" class="feather-sm"></i-feather>
        </a>

        <div ngbDropdown container="body" class="d-flex">
          <a id="dropdownBasic1" ngbDropdownToggle class="link cursor-pointer" container="body"
             ngbTooltip="Change status">
            <i-feather name="more-horizontal" class="feather-sm"></i-feather>
          </a>

          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

            <button class="dropdown-item" *ngIf="row?.clientOrderStatusId===4 || row?.clientOrderStatusId===2"
                    (click)="changeClientOrderStatusToAccepted(row?.id)">
              <i-feather name="check" class="feather-sm mr-2"></i-feather>
              <span style="color: #369450">Accepted</span>
            </button>

            <button class="dropdown-item" *ngIf="row?.clientOrderStatusId===4"
                    (click)="changeClientOrderStatusToReported(row?.id)">
              <i-feather name="refresh-cw" class="feather-sm mr-2"></i-feather>
              <span style="color: #4f4f52">Reported</span>
            </button>

            <button class="dropdown-item"
                    *ngIf="row?.clientOrderStatusId===4 || row?.clientOrderStatusId===2 || row?.clientOrderStatusId ===1"
                    (click)="changeClientOrderStatusToCancelled(row?.id)">
              <i-feather name="x" class="feather-sm mr-2"></i-feather>
              <span style="color: #981D2D">Cancelled</span>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>




