<!-- MAIN -->
<main>
  <div class="head-title">
    <div class="left">
      <h1>Products</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Products</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
          <a class="active" href="#">Show products</a>
        </li>
      </ul>
    </div>
  </div>

  <ul> <!--class="box-info" this class was in ul-->
    <div class="card">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-danger"></button>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="mr-2 inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
      </p-toolbar>


      <p-table
      #dt
      [value]="products"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
      [tableStyle]="{ 'min-width': '75rem' }"
      [(selection)]="selectedProducts"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
  >


        
        <ng-template pTemplate="caption">

          <div class="flex align-items-center justify-content-between bottom-space" >
            <h5 class="m-0">Manage Products</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search..." />
            </span>
          </div>

          <form hidden>
            <div class="center-inputs">

              <div class="input-container">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="number" pInputText placeholder="Quantity"/>
                </span>
              </div>

              <div class="input-container">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="number" pInputText placeholder="Price"/>
                </span>
              </div>


              <div class="input-container">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="date" pInputText placeholder="Before this date"/>
                </span>
              </div>

              <div class="input-container">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="date" pInputText placeholder="After this date"/>
                </span>
              </div>

              <div class="input-container">
                <p-dropdown  optionLabel="name" [filter]="true"
                            filterBy="name" [showClear]="true" placeholder="Select a SubCategory">
                  <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" >
                      <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                            style="width: 18px"/>
                      <div>Rachid</div>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                           [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/>
                      <div>{{ country.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>

              <div class="input-container">
                <p-dropdown  optionLabel="name" [filter]="true"
                            filterBy="name" [showClear]="true" placeholder="Select a Category">
                  <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" >
                      <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                            style="width: 18px"/>
                      <div>Rachid</div>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                           [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/>
                      <div>{{ country.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>

            </div>
            <div class="button-container">
              <button pButton pRipple label="Search" class="p-button-success"></button>
            </div>
          </form>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name" style="min-width:15rem">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th>Image</th>
            <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="category" style="min-width:10rem">Category <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
            <th pSortableColumn="inventoryStatus" style="min-width:10rem">Status <p-sortIcon
                field="inventoryStatus"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>{{ product.name }}</td>
            <td><img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
                [alt]="product.name" width="50" class="shadow-4" /></td>
            <td>{{ product.price | currency: 'USD' }}</td>
            <td>{{ product.category }}</td>
            <td><p-rating [ngModel]="product.rating"></p-rating></td>
            <td>
              <p-tag [value]="product.inventoryStatus"></p-tag>
            </td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">In total there are 122 products.</div>
        </ng-template>
      </p-table>
    </div>
  </ul>

</main>
<!-- MAIN -->