.center-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .input-container {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .button-group {
    display: flex;
    gap: 0.5rem;
  }
  
  .between-space-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .bottom-space{
    padding-bottom: 50px;
  }
  .right-space{
    margin-right: 3rem;
  }
  .left-space{
    margin-left: 2rem;
  }
  