<!-- Your HTML structure with Bootstrap classes -->
<div class="container">
  <div class="row">
    <ng-container *ngFor="let category of categoryList">
      <div class="col-lg-3 col-md-4 col-sm-6 col-12" >
        <div class="card mb-4 snip1418 ">
          <img [src]="category?.categoryImageUrl" [alt]="category?.categoryImagePath" class="card-img-top">
          <div class="card-body" >
            <h4 class="card-title">#{{ category?.id }} {{ category?.name }}</h4>
            <div class="actions-container">
              <span class="badge badge-success" *ngIf="category?.visbility==='visible'">{{ category?.visbility }}</span>
              <span class="badge badge-danger" *ngIf="category?.visbility==='invisible'">{{ category?.visbility }}</span>
              <div class="icons-container">
                <a class="link cursor-pointer mr-2" ngbTooltip="View products" (click)="onDisplay(category)">
                  <i-feather name="eye" class="feather-sm"></i-feather>
                </a>
                <a class="link cursor-pointer mr-2" ngbTooltip="Edit" (click)="onEdit(category)">
                  <i-feather name="edit-3" class="feather-sm"></i-feather>
                </a>
                <a class="link cursor-pointer mr-2" ngbTooltip="Delete"
                   (click)="onOpenModal(deleteCategoryModal, category, 'delete')">
                  <i-feather name="trash-2" class="feather-sm"></i-feather>
                </a>
              </div>
            </div>
          </div>



          <a href="#"></a>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<ng-template #deleteCategoryModal>
  <div>
    <div class="modal-header">
      <h5 class="modal-title" id="deleteModelLabel">Attention </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Do you want to delete the category #{{deletedCategory?.id}}? </p>
      <div class="modal-footer">
        <span *ngIf="sppinerDeleteDisplaying" class="spinner-grow spinner-grow-sm" role="status"
              aria-hidden="true"></span>
        <button id="submitDelete"
                class="btn btn-primary"
                data-dismiss="modal" (click)="deleteCategoryFunction(deletedCategory?.id)">Supprimer
        </button>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal" (click)="OncloseModal()">Fermer</button>
      </div>
    </div>
  </div>
</ng-template>
