<!-- MAIN -->
<main>
	<div class="head-title">
		<div class="left">
			<h1>Produits</h1>
			<ul class="breadcrumb">
				<li>
					<a href="#">Produits</a>
				</li>
				<li><i class='bx bx-chevron-right'></i></li>
				<li>
					<a class="active" href="#">Ajouter</a>
				</li>
			</ul>
		</div>
		<a class="btn-download hand-cursor-button">
			<i class="fas fa-plus"></i>
			<span class="text" mat-raised-button (click)="openAddProductForm()">Ajouter un produit</span>
		</a>
	</div>


	<div class="main-body">
		<mat-form-field appearance="outline">
			<mat-label>nom du produit</mat-label>
			<input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
		</mat-form-field>

		<div class="table-container">
			<table mat-table [dataSource]="dataSource" matSort>

				<!-- ID Column -->
				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
					<td mat-cell *matCellDef="let row"> {{row.id}} </td>
				</ng-container>

				<!-- Progress Column -->
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
					<td mat-cell *matCellDef="let row" > {{row.name}} </td>
				</ng-container>

				<!-- Name Column -->
				<ng-container matColumnDef="description">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
					<td mat-cell *matCellDef="let row"> {{row.description}} </td>
				</ng-container>

				<!-- Fruit Column -->
				<ng-container matColumnDef="price">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
					<td mat-cell *matCellDef="let row"> {{row.price}} </td>
				</ng-container>

				<ng-container matColumnDef="quantity">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Quantité </th>
					<td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
				</ng-container>

				<ng-container matColumnDef="subCategory">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> SubCategory </th>
					<td mat-cell *matCellDef="let row"> {{row.subCategory.name}} </td>
				</ng-container>

				<ng-container matColumnDef="dateCreated">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Date d'ajout</th>
					<td mat-cell *matCellDef="let row"> {{row.dateCreated | date: 'dd-MM-yyyy' }} </td>
				</ng-container>

				<ng-container matColumnDef="dateUpdated">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Dernier modification </th>
					<td mat-cell *matCellDef="let row"> {{row.dateUpdated | date: 'dd-MM-yyyy' }} </td>
				</ng-container>

				<ng-container matColumnDef="action">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
					<td mat-cell *matCellDef="let row">
						<button mat-icon-button color="primary">
							<mat-icon>edit</mat-icon>
						</button>
						<button mat-icon-button color="warn" (click)="deleteProduct(row.id)">
							<mat-icon>delete</mat-icon>
						</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

				<!-- Row shown when there is no matching data. -->
				<tr class="mat-row" *matNoDataRow>
					<td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
				</tr>
			</table>

			<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
		</div>

	</div>







</main>
<!-- MAIN -->