<ngx-datatable class="material" [headerHeight]="50" [limit]="tableLimit" [columnMode]="'force'"
               [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="false" [sorts]="[{prop: 'id', dir: 'desc'}]"
               [rows]="clientOrderList">

  <ngx-datatable-column [width]="70" [maxWidth]="100" name="Id" prop="id">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      {{row?.id}}
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column [width]="100" [maxWidth]="150" name="Price" prop="totalPrice">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      {{row?.totalPrice}} Dh
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="150" [maxWidth]="200" name="Client name" prop="clientEmail">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">

      <span>
        {{row?.clientFirstName}}  {{row?.clientLastName}}
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="230" [maxWidth]="290" name="Client contact" prop="clientEmail">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">

      <span>
        <i-feather name="at-sign" class="feather-sm"></i-feather>
        {{row?.clientEmail }}
      </span>
      <br>
      <span>
        <i-feather name="phone-call" class="feather-sm"></i-feather>
        {{row?.clientPhoneNumber }}
      </span>

    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="130" [maxWidth]="200" name="Date" prop="dateCreated">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      <span>
           <i class="far fa-calendar-plus"></i>
        {{row?.dateCreation | date : 'dd/MM/yyyy'}}
      </span>
      <span class="text-warning">
           <br><i class="far fa-edit"></i>
        {{row?.dateUpdate | date : 'dd/MM/yyyy'}}
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="100" [maxWidth]="170" name="Status" prop="orderStatus">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      <ng-container >
        <span [ngClass]="row?.clientOrderStatusColor" class="px-1" style="font-size: 12px"> {{row?.clientOrderStatusName}}</span>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="Details" [sortable]="false" [width]="70" [maxWidth]="100">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a class="link cursor-pointer mr-2" ngbTooltip="Show order details" (click)="getOrderDetails(row?.id)">
        <i-feather name="eye" class="feather-sm"></i-feather> <!-- <i class="icon-eye"></i> -->
      </a>

    </ng-template>
  </ngx-datatable-column>


</ngx-datatable>




