<ngx-datatable class="material" [headerHeight]="50" [limit]="tableLimit" [columnMode]="'force'"
               [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="false" [sorts]="[{prop: 'id', dir: 'desc'}]"
               [rows]="productList">

  <ngx-datatable-column [width]="70" [maxWidth]="100" name="Id" prop="id">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      {{row?.id}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="100" [maxWidth]="120" name="Image">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      <div class="image-container " >
        <img [src]=row?.productPrincipalImageUrl [alt]="row?.productImagePath" class="image" (click)="showProductImages(row?.productImagePath, row?.id)">
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="140" [maxWidth]="220" name="Name" prop="name">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      {{row?.name}}
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column [width]="100" [maxWidth]="150" name="Price" prop="price">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      {{row?.price || 0}} dhs

    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="120" [maxWidth]="150" name="Quantity" prop="quantity">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      {{row?.quantity || 0}}

    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="140" [maxWidth]="220" name="Category" prop="categoryName">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      {{row?.categoryName }}

    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column [width]="150" [maxWidth]="220" name="Date" prop="dateCreated">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      <span>
           <i class="far fa-calendar-plus"></i>
        {{row?.dateCreated | date : 'dd/MM/yyyy'}}
      </span>
      <span class="text-warning">
           <br><i class="far fa-edit"></i>
        {{row?.dateUpdated | date : 'dd/MM/yyyy'}}
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="120" [maxWidth]="180" name="Visbility" prop="visbility">
    <ng-template let-row="row" ngx-datatable-cell-template class="font-16">
      <ng-container *ngIf="row?.visibility === 'visible'; else noTemplate">
        <span class="badge badge-success px-1" style="font-size: 12px"> Visible</span>
      </ng-container>
      <ng-template #noTemplate>
        <span class="badge badge-danger px-1" style="font-size: 12px"> Invisible </span>
      </ng-template>
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="Action" [sortable]="false" [width]="150" [maxWidth]="250">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a class="link cursor-pointer mr-2" ngbTooltip="Afficher" (click)="onDisplay(row)">
        <i-feather name="eye" class="feather-sm"></i-feather> <!-- <i class="icon-eye"></i> -->
      </a>
      <ng-container>
        <a class="link cursor-pointer mr-2" ngbTooltip="Modifier" (click)="navigateToEditPage(row)">
          <i-feather name="edit-3" class="feather-sm"></i-feather> <!--<i class="fas fa-pencil-alt"></i> -->
        </a>
      </ng-container>
      <ng-container>
        <a class="link cursor-pointer mr-2" ngbTooltip="Supprimer"
           (click)="onOpenModal(deleteProductModal,row, 'delete')">
          <i-feather name="trash-2" class="feather-sm"></i-feather>
        </a>
      </ng-container>

    </ng-template>
  </ngx-datatable-column>


</ngx-datatable>


<!-- Delete Modal -->
<ng-template #deleteProductModal>
  <div>
    <div class="modal-header">
      <h5 class="modal-title" id="deleteModelLabel">Attention </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Do you want to delete the product #{{deletedProduct?.id}}? </p>
      <div class="modal-footer">
        <span *ngIf="sppinerDeleteDisplaying" class="spinner-grow spinner-grow-sm" role="status"
              aria-hidden="true"></span>
        <button id="submitDelete"
                class="btn btn-primary"
                data-dismiss="modal" (click)="deleteProductFunction(deletedProduct?.id)">Supprimer
        </button>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal" (click)="OncloseModal()">Fermer</button>
      </div>
    </div>
  </div>
</ng-template>


