<div class="row " id="main-container">
  <div class="col-12">
    <div class="progress indeterminate" *ngIf="loading === true"></div>
    <div class="card">
      <div class="card-body px-2 py-0">
        <div class="row">

          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav w-100">
            <!-------------------------------------- Recherche multicritères ----------------------------------- -->
            <li [ngbNavItem]="1">
              <a ngbNavLink [routerLink]="'search'">
                <i-feather name="user" class="feather-sm"></i-feather>
                Clients
              </a>
            </li>
          </ul>
        </div>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <div class="col-lg-12">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>

</div>


