<!-- navbar -->
<nav class="navbar">
  <div class="logo_item">
    <i class="bx bx-menu" id="sidebarOpen"></i>
    <img src="assets/images/logo.png" alt="">Bokito Store
  </div>

  <div class="navbar_content">
    <i class="bi bi-grid"></i>
    <i class='bx bx-sun' id="darkLight"></i>
    <i class='bx bx-bell'></i>
    <img src="assets/images/profile.jpg" alt="" class="profile"/>
  </div>
</nav>

<!-- sidebar -->
<nav class="sidebar">
  <div class="menu_content">
    <ul class="menu_items">
      <div class="menu_title menu_dahsboard"></div>
      <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
      <!-- start -->

      <li class="item">
        <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cog"></i>
              </span>
          <span class="navlink">Setting</span>
        </a>
      </li>

      <li class="item">
        <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-home-alt"></i>
              </span>
          <span class="navlink">Home</span>
        </a>
      </li>

      <li class="item">
        <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-grid-alt"></i>
              </span>
          <span class="navlink">Overview</span>
        </a>
      </li>
    </ul>

    <!-- Sidebar Open / Close -->
    <div class="bottom_content">
      <div class="bottom expand_sidebar">
        <span> Expand</span>
        <i class='bx bx-log-in'></i>
      </div>
      <div class="bottom collapse_sidebar">
        <span> Collapse</span>
        <i class='bx bx-log-out'></i>
      </div>
    </div>
  </div>
</nav>
