/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";

@import "~@ng-select/ng-select/themes/default.theme.css";

//angular calendar ajouter par DK
@import "../node_modules/angular-calendar/css/angular-calendar.css";

//leaflet style pour mapStreetOpen
@import "~leaflet/dist/leaflet.css";
@import "@runette/leaflet-fullscreen/dist/leaflet.fullscreen.css";

div .table-padding {
  padding-bottom: 15px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  padding-top: 0 !important;
}

//pour supprimer la validation des input
#ngx .ng-invalid,
#ngx .ng-valid,
.ng-touched.ng-valid,
.ng-touched.ng-invalid {
  border-color: #e9ecef;
}

.ngx-datatable.material {
  box-shadow: none;
}

.feather-sm {
  height: 18px !important;
  width: 18px !important;
}

.feather-15 {
  height: 15px !important;
  width: 15px !important;
}

.feather-16 {
  height: 16px !important;
  width: 16px !important;
}

.feather-18 {
  height: 18px !important;
  width: 18px !important;
}

.feather-20 {
  height: 20px !important;
  width: 20px !important;
}

.feather-22 {
  height: 22px !important;
  width: 22px !important;
}

.form-control .ng-select-container {
  border-radius: 4px 0px 0px 4px;
}

.preloader {
  z-index: 1055;
}

.card-header {
  background-color: transparent;
}

.cursor-pointer {
  cursor: pointer;
}

// .accordion>.card {
//   overflow: visible;
// }

.sidebar-nav ul .sidebar-item .sidebar-link {
  padding: 10px 15px;
}

span.colorBoxSelect {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: -3px;
}

@media (min-width: 1024px) {
  #main-wrapper[data-layout="horizontal"] .sidebar-nav #sidebarnav>.sidebar-item>.sidebar-link .hide-menu {
    max-width: 65px;
  }
}

.ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {
  font-weight: 700;
  font-size: 0.825rem;
  color: #3e5569;
  font-family: Nunito Sans, sans-serif;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  padding: 0.9rem 0.8rem;
}

.ngx-datatable .ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {

  font-size: 12px !important;
  font-weight: 500 !important;
}

.sidebar-nav ul .sidebar-item .first-level {
  padding: 0;
}

.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
  color: #3e5569;
  background-color: #f8f9fa;
}

.ng-select .ng-select-container {
  border: 1px solid #e9ecef;
}

.search #ngx .ng-valid,
.search .ng-touched.ng-valid {
  border-color: #e9ecef;
}

/*
.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: #e9ecef;
  box-shadow:none;
}
*/

/* ############## start progress ############## */
.progress {
  max-width: 100%;
  margin: 0em auto;
  overflow: hidden;
  background: #ddd;
}

.indeterminate {
  position: relative;
  width: 100%;
  height: 4px;
  transform: translateZ(0);

  //
  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: #2962ff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:before {
    // slow
    animation: indeterminate 3s cubic-bezier(0.195, 0.36, 0.945, 1.65) infinite;
  }

  &:after {
    // fast
    animation: indeterminate 3s cubic-bezier(0.9, -0.59, 0.715, 1.045) infinite;
  }
}

@keyframes indeterminate {
  0% {
    width: 0%;
    transform: translateX(-100%);
  }

  100% {
    width: 100%;
    transform: translateX(100%);
  }
}

/* ############## end progress ############## */

.hide-menu {
  margin-right: 30px;
}

.datatable-row-detail {
  background-color: #fff !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}



.search .ng-touched.ng-valid {
  border-color: #e9ecef;
}

datatable-scroller {
  width: 100% !important;
}

.ng-select.form-control {
  border: 0;
}

.form-control-sm.ng-select.ng-select-single .ng-select-container {
  height: calc(1.5em + 0.5rem + 2px);
}

.form-control-sm.ng-select .ng-select-container {
  border-radius: 1px;
  min-height: calc(1.5em + 0.5rem + 2px);
}

.ng-dropdown-panel {
  height: auto !important;
}

.form-control-sm.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 0.25rem 0.5rem;
}

/////////////////////////
.accordion > .card {
  padding: 0%;
  >.card-header {
    padding: 0%;
  }

}
.ngx-datatable .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5;
}

.search-group {
  display: flex;
  gap: 4px;
  input {
    padding: 6px 8px;
  }

  .search-item {
    flex: 1;
  }

  .search-item_medium {
    flex: .7;
  }

  .search-item_small {
    flex: .4;
  }
}

.search-actions {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .form-group {
    width: 90%;
    display: flex;

    .button-search {
      padding: 6px auto;
      flex: 3;
    }

    .button-reset {
      padding: 6px 8px;
      flex: 1;
    }
  }
}

label {
  font-weight: 700;
}

.details-buttons {
  position: absolute;
  top: 12px;
  right: 0;
}


//nav-tabs adabtation
.nav-tabs {
  .nav-item .nav-link {
    background-color: #fff;
    color: #444;
    border-bottom: 1px solid #dee2e6;

  }
  .nav-item .nav-link.active {
    color: #0080FF;
    border-bottom: 1px solid #fff;

  }
}

// background color for ng-select disabled
.ng-select.ng-select-disabled>.ng-select-container {
  background-color: #E9ECEF !important;
}

/* For only Tablet View */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-actions {
    .form-group {
      width: 50%;
      display: flex;

      .button-search {
        padding: 6px auto;
        flex: 3;
      }

      .button-reset {
        padding: 6px 8px;
        flex: 1;
      }
    }
  }

}

/* For Mobile and tablet View */
@media screen and (max-width: 800px) {
  .search-group {
    display: flex;
    flex-direction: column;

    .search-item,
    .search-item_medium,
    .search-item_small {
      flex: 1;
    }
  }
  .details-buttons {
    position: static;
    top: -35px;
    left: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    button {
      padding: 3px;

    }

  }



}

