<h3>Products</h3>
<p-toolbar styleClass="mb-4 gap-2">


  <ng-template pTemplate="left" >
    <button  pButton pRipple label="New" icon="pi pi-plus" class="p-button-success right-margin"></button>
    <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
            [disabled]="!selectedProducts || !selectedProducts.length"></button>
  </ng-template>

  <ng-template pTemplate="right" >
    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
  </ng-template>


</p-toolbar>
<app-product-list></app-product-list>
